---
site_name: "Common Data Model (CDM)"
theme:
  name: material
  custom_dir: src/docs/overrides
  # palette:
  #  scheme: slate
  #  primary: cyan
  features:
    - content.tabs.link
    - content.tooltips
    - toc.integrate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.expand
  icon:
    tag:
      experimental: fontawesome/solid/flask
      obsolete: fontawesome/regular/hand
plugins:
  - tags
  - search
  - mknotebooks:
      execute: false
  - mermaid2:
      version: 10.9.0
nav:
  - Index: index.md
  - About: about.md
  - Tags: tags.md
site_url: https://w3id.org/altium/cdm/
repo_url: https://github.com/AltiumDeveloper/cdm
markdown_extensions:
  - tables
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
extra:
  tags:
    experimental: experimental
    obsolete: obsolete
extra_css:
  - css/custom.css
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascript/tablesort.js
  - javascript/mermaid.mjs

# Uncomment this block to enable use of Google Analytics.
# Replace the property value with your own ID.
# extra:
#   analytics:
#     provider: google
#     property: G-XXXXXXXXXX
