{% from "macros.jinja2" import platform_api_url with context %}

# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}

{% set iri = schema.id %}
IRI: [{{ iri }}]({{ iri }})
{ .page-subtitle }

{% if schema.description %}{{ schema.description }}{% endif %}

{% if include_top_level_diagram %}
## Schema Diagram

```{{ gen.mermaid_directive() }}
{{ gen.mermaid_diagram() }}
```
{% endif %}

## Bounded Contexts
{% for bc in schemaview.all_subsets().values()|sort(attribute='name') %}
### {{ gen.link(bc, True) }}

{% if bc.description %}
{% set element_description_lines = bc.description.split('\n') %}
{% for element_description_line in element_description_lines %}
{{ element_description_line }}
{% endfor %}
{% endif %}

{% set classes_in_subset = [] %}
{# Collect classes, slots, and enumerations in subset #}
{% for c in gen.all_class_objects()|sort(attribute=sort_by) %}
    {%- if bc.name in c.in_subset %}
        {% set _ = classes_in_subset.append(c) %}
    {%- endif %}
{% endfor %}

| Class | Description | Platform API |
| --- | --- | --- |
{% for c in classes_in_subset -%}
{%- if not c.abstract -%}
| [{{ c.title if c.title else gen.name(c) }} ]( classes/{{ gen.name(c)}}.md ) | {{ c.description }} | {{ platform_api_url(c) }} |
{% endif -%}
{% endfor %}

{% endfor %}

## GRIDs
| BC | Class | GRID |
| --- | --- | --- |
{% for bc in schemaview.all_subsets().values()|sort(attribute='name') -%}
{% set classes_in_subset = [] -%}
{% for c in gen.all_class_objects()|sort(attribute=sort_by) -%}
    {% if bc.name in c.in_subset -%}
        {% set _ = classes_in_subset.append(c) -%}
    {% endif -%}
{% endfor -%}
{% for c in classes_in_subset -%}
{%- if 'grid' in c.annotations -%}
| {{ gen.link(bc, True) }} | [{{ c.title if c.title else gen.name(c) }} ]( classes/{{ gen.name(c)}}.md ) | ```{{ c.annotations["grid"].value }}``` |
{% endif -%}
{% endfor -%}
{% endfor %}
