{%- if element.title %}
    {%- set title = element.title -%}
{%- else %}
    {%- if gen.use_slot_uris -%}
        {%- set title = element.name -%}
    {%- else -%}
        {%- set title = gen.name(element) -%}
    {%- endif -%}
{%- endif -%}

{% from "macros.jinja2" import slot_range_url, slot_link with context %}

{% macro compute_range(slot) -%}
    {%- if slot.any_of or slot.exactly_one_of -%}
        {%- for subslot_range in schemaview.slot_range_as_union(slot) -%}
            {{ slot_range_url(subslot_range) }}
            {%- if not loop.last -%}
                &nbsp;or&nbsp;<br />
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        {{ slot_range_url(slot.range) }}
    {%- endif -%}
{% endmacro %}

# Field: {{ title }} {% if element.deprecated %} <span style="color: red;"><strong> (DEPRECATED) </strong></span> {% endif %}

{%- if header -%}
{{ header }}
{%- endif -%}

{% if element.description %}
{% set element_description_lines = element.description.split('\n') %}
{% for element_description_line in element_description_lines %}
{{ element_description_line }}
{% endfor %}
{% endif %}

{% if element.abstract %}
* __NOTE__: this is an abstract slot and should not be populated directly
{% endif %}

{#- No IRI: slot IRIs do not resolve through w3id.org yet -#}

{% if element.alias %}
Alias: {{ element.alias }}
{% endif -%}

{% if schemaview.slot_parents(element.name) or schemaview.slot_children(element.name, mixins=False) %}

## Inheritance

{% set chain = [] %}
{% set ns = namespace(s=element.is_a) %}
{% for _ in range(30) %}{% if ns.s %}{% set _ = chain.insert(0, ns.s) %}{% set ns.s = schemaview.get_slot(ns.s).is_a %}{% endif %}{% endfor %}
{% for a in chain -%}
{{ '    ' * loop.index0 }}* {{ slot_link(a) }}
{% endfor -%}
{{ '    ' * chain|length }}* **{{ element.title or element.name }}**{% if element.mixins %} (mixins: {% for m in element.mixins %}{{ slot_link(m) }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}
{% for c in schemaview.slot_children(element.name, mixins=False) -%}
{{ '    ' * (chain|length + 1) }}* {{ slot_link(c) }}
{% endfor %}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}

## Properties

* Range: {{ compute_range(element) }}
{% if element.multivalued %}
* Multivalued: {{ element.multivalued }}
{% endif -%}
{% if element.required %}
* Required: {{ element.required }}
{% elif element.recommended %}
* Recommended: {{ element.recommended }}
{% endif -%}
{% if element.minimum_value is not none %}
* Minimum Value: {{ element.minimum_value|int }}
{% endif -%}
{% if element.maximum_value is not none %}
* Maximum Value: {{ element.maximum_value|int }}
{% endif -%}
{% if element.pattern %}
* Regex pattern: {{ '`' }}{{ element.pattern }}{{ '`' }}
{% endif -%}
{% if schemaview.is_mixin(element.name) %}
* Mixin: {{ element.mixin }}
{% endif -%}


{% set classes_by_slot = schemaview.get_classes_by_slot(element, include_induced=True) %}
{% if classes_by_slot %}

## Used by

| Name | Description | Refines the field |
| --- | --- | --- |
{% for c in classes_by_slot -%}
{%- set class_element = schemaview.get_class(c) -%}
| [{{ class_element.title if class_element.title else gen.name(class_element) }} ]( ../classes/{{ gen.name(class_element)}}.md ) | {{ schemaview.get_class(c).description|enshorten }} | {% if c in schemaview.get_classes_modifying_slot(element) %} yes {% else %} no {% endif %} |
{% endfor %}

{% endif %}

{% if schemaview.is_mixin(element.name) %}
## Mixin Usage

| mixed into | description | range | domain |
| --- | --- | --- | --- |
{% for s in schemaview.slot_children(element.name, is_a=False) -%}
| {{ gen.link(s) }} | {{ schemaview.get_slot(s).description|enshorten }} | {{ schemaview.get_slot(s).range }} | {{ schemaview.get_classes_by_slot(schemaview.get_slot(s))|join(', ') }} |
{% endfor %}
{% endif %}

{% if schemaview.usage_index().get(element.name) %}
## Usages

| used by | used in | type | used |
| ---  | --- | --- | --- |
{% for usage in schemaview.usage_index().get(element.name) -%}
| {{ gen.link(usage.used_by) }} | {{ gen.link(usage.slot) }} | {{ usage.metaslot }} | {{ gen.link(usage.used) }} |
{% endfor %}
{% endif %}

{% include "common_metadata.md.jinja2" %}


{%- if footer -%}
{{ footer }}
{%- endif -%}
