---
name: Auto-deployment of common_data_model artifacts
on:
  push:
    branches: [main]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: write  # to let mkdocs write the new docs
      pages: write     # to deploy to Pages
      id-token: write  # to verify the deployment originates from an appropriate source

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # otherwise, you will failed to push refs to dest repo

      - name: Set up Python.
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Poetry.
        run: pipx install poetry

      - name: Install dependencies.
        run: poetry install

      - name: Build documentation.
        run: |
          mkdir -p docs
          touch docs/.nojekyll
          make gendoc
          ([ ! -f docs/about.md ] && cp src/docs/about.md docs/) || true
          make mkd-gh-deploy

      - name: Deploy to Google Spreadsheet
        env:
          GOOGLE_SHEETS_API: ${{ secrets.GOOGLE_SHEETS_API }}
          GOOGLE_SHEETS_SECRET: ${{ secrets.GOOGLE_SHEETS_SECRET }}
        run: |
          make gen-schema
          curl --location "$GOOGLE_SHEETS_API" -H "X-API-Key: $GOOGLE_SHEETS_SECRET" -H "Content-Type: application/json" --data-binary "@google-sheet-schema.json"
