---
name: Building artifacts for a tagged release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-docs:
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: write  # to let mkdocs write the new docs
      pages: write     # to deploy to Pages
      id-token: write  # to verify the deployment originates from an appropriate source

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # otherwise, you will failed to push refs to dest repo

      - name: Set up Python.
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install Poetry.
        run: pipx install poetry

      - name: Install dependencies.
        run: poetry install

      - name: Build artifacts.
        run: |
          make ci-generate

      - name: Publish latest artifacts for convinient consumption.
        uses: softprops/action-gh-release@v2
        with:
          files: |
            project/jsonschema/common_data_model.schema.json
            project/jsonschema/system_data_model.schema.json
            project/jsonschema/esd_compiled_model.schema.json